.footer{
    background-color: #1b8c88;
    display:flex;
    text-align:center;
}

/*social media link icons bar*/
.brandIcons{
    display:flex;
}
#iconsLeft{
    flex:15;
}
#twitterIcon{
    flex:1;
}
#facebookIcon{
    flex:1;
}
#redditIcon{
    flex:1;
}
#discordIcon{
    flex:1;
}
#linkedInIcon{
    flex:1;
}
#kastMediumIcon{
    flex:1;
}
#iconsRight{
    flex:15;
}