.navbar{
    background-color: var(--grayBox);
    font-family: 'Delius', cursive;
    color: var(--forestGreen)
}
.navbar-toggler{
    
}
.navbar-toggler-icon{
    display: flex;
    flex-direction: column;
}